.ck {
  font-family: yekan !important;
  direction: rtl !important;
}
.ck-content {
  min-height: 100px;
}
.ck.ck-editor__editable_inline[dir="ltr"] {
  background-color: transparent !important;
  text-align: right !important;
}

.ck-toolbar__items {
  display: flex !important;
  flex-wrap: wrap !important;
}

 .MuiMenu-list	{
    max-height: 150px !important;
}